{% extends "baseMenu.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a> &rsaquo; {% trans "Server error" %}</div>{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Error en el servidor <em>(500)</em>' %}</h1>
<p>{% trans "Ha habido un error en el servidor. Vuelva a intentar su consulta en algunos instates." %}</p>
<p>{% trans "Si el error persiste, por favor reportelo por mail a los administradores para que sea solucionado a la brevedad." %}</p>
<p>{% trans "Gracias por su paciencia." %}</p>

{% endblock %}
