{% extends "base.html" %}

{% block menu %}
<div class="row" style="background-image: ../Archivos/img/stripes.png"><div class="span4">
	<table><tbody><tr>
  	  <td><img style="width: 200px;max-width:none" alt="Logo" src="../Archivos/Logo.png" /></td>
      <td><h2 style="font-size: 90px;">TiBus</h2><h5>Sistema de predicción de tiempos de arribos</h5></td>
    </tr></tbody></table>      
</div></div>
<div class="navbar navbar-inverse"><div class="navbar-inner"><ul class="nav">
	<li><a href="sindex">Home</a></li>
	<li><a href="sprediccion">Arribo</a></li>
	<li><a href="sviaje">Viaje</a></li>
</ul></div></div>
{% endblock %}