{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Tibus: Sistema de prediccion de tiempos de arribo{% endblock %}</title>

<!--     <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" /> -->
    <link href="../Archivos/css/bootstrap.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../Archivos/css/bootstrap-responsive.css" rel="stylesheet">
<!-- 	<link rel="stylesheet" href="../Archivos/css/formee-structure.css" type="text/css" media="screen" /> -->
<!-- 	<link rel="stylesheet" href="../Archivos/css/formee-style.css" type="text/css" media="screen" /> -->
<!-- 	<link rel="stylesheet" href="../Archivos/css/menu-styles.css" type="text/css" media="screen" /> -->
	
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}

    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
<!--     <script type="text/javascript" src="../Archivos/js/jquery-1.6.4.min.js"></script> -->
<!-- 	<script type="text/javascript" src="../Archivos/js/formee.js"></script> -->
<!-- 	<script src="http://code.jquery.com/jquery-latest.js"></script> -->
 	<script src="../Archivos/js/bootstrap.js"></script>
	
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}	
  </head>

{% load i18n %}

<body class=" {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" {% block extrabody %} {% endblock %}>

<!-- Container -->
<div class="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="top-bar-bg">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% if user.is_active%}
        <div id="user-tools" align=right style="font-family: Arial; font-size: 12px;">
            {% trans 'Bienvenido,' %}
            <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentacion' %}</a> /
                {% endif %}
                <a href="/">{% trans 'Home' %}</a> /
                <a href="password">
                {% trans 'Cambiar Contraseña' %}</a> /
                {% url 'logout' as logout_url %}
                {% if logout_url %}
                    <a href="{{ logout_url }}">
                {% else %}
                    <a href="{{ root_path }}logout">
                {% endif %}
                {% trans 'Desconectarse' %}</a>
            {% endblock %}
         </div>
        {% else %}
        <div id="user-tools" align=right style="font-family: Arial; font-size: 12px;">
        	<a href="login">Iniciar Sesion</a>
       	</div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    {% endif %}

        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}</ul>
        {% endif %}

    <!-- Content -->
    <div id="content" Style="font-family: Arial;" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block menu %} {% endblock %}
        <div align="center">{% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}</div>
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
