{% extends "base.html" %}

{% block extrabody %} onload="initialize()" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); " alink="#000099" link="#000099" vlink="#990099"{% endblock %}

{% block menu %}
<div style="width: 100% ; margin-left: auto ; margin-right: auto ;text-align: center">
	<img style="width: 302px; height: 132px;" alt="Logo" src="../Archivos/Logo.png">
	<img style="width: 722px; height: 132px;" alt="Titulo" src="../Archivos/Nombre.png">
</div>
<div id='cssmenu'>
<ul>
   <li class='active '><a href='index'><span>Home</span></a></li>
   <li class='has-sub '><a href='admin'><span>Administración</span></a>
      <ul>
         <li><a href='linea'><span>Línea</span></a></li>
         <li><a href='unidad'><span>Unidad</span></a></li>
         <li><a href='empresa'><span>Empresas</span></a></li>
         <li><a href='usuario'><span>Usuarios</span></a></li>
      </ul>
   </li>
   <li><a href='prediccion'><span>Predicción</span></a></li>
   <li><a href='#'><span>Contacto</span></a></li>
</ul>
</div>
{% endblock %}