{% extends "baseMenu.html" %}

{% block content %}
        <div class="sombraTabla" align="center"><table style="height: 100%; width: 90%;">
            <tbody>
                <tr style="color:black;" align="left">
                    <td style="height: 100%; width: 100%;">
					<p>Datos necesarios para una estimación: Número de linea y parada Destino: se puede identificar mediante el Identificador de la parada o el nombre de las calles que forman la intersección.</p>
					<p>Interfaces disponibles: Se implementaran interfaces WEB a través de una pagina HTML y una interfaz sms.</p>
					<p>Arquitectura usada: El sistema se basa en el modelo cliente-servidor, pregunta-respuesta, esto es así para simplificar su desarrollo, escalabilidad, portabilidad y mantenimiento.</p>
					<p>Modelo de predicción: Este modelo es el algoritmo de calculo que usa el sistema para estimar los tiempos de arribo y demora. Para mas información ver la sección modelo.</p>
</td></tr></tbody></table></div>

{% endblock %}