{% extends "datatable.html" %}
{% load crispy_forms_tags %}

	{% block datos %}
    	{% if routeList %}
			<thead>
				<tr>
					<th><a href="#">Linea</a></th>
					<th><a href="#">Empresa</a></th>
					<th><a href="#">Predecible</a></th>
				</tr>
			</thead>
			<tbody>
      		{% for linea in routeList %}
      			<tr>
      				<td>{{ linea.linea }}</td>
      				<td>{{ linea.empresa }}</td>
      				<td>{{ linea.predictable }}</td>
  				</tr>
			{% endfor %}
      		</tbody>
		{% else %}
		<a>No hay lineas disponibles</a>
    	{% endif %}
	{% endblock %}
