{% extends "baseMenuMapa.html" %}

{% block extras %}
<table style="text-align: left; height: 100%; width: 100%;"> 
  <tr style="text-align: left; height: 20%; width: 100%;">
  	<td><form name = "formPrediccion" action="" method="post" onSubmit = "return confirmacion(this, accion)">{% csrf_token %}
Parada Destino: 
            <table>
              <tr> <td> <label for="id_linea"> Linea: </label> {{ form.linea }} 
                    <SELECT NAME="lineaCombo" SIZE=1 onchange="document.formPrediccion.id_linea.value = document.formPrediccion.lineaCombo.options[document.formPrediccion.lineaCombo.selectedIndex].value;document.formPrediccion.lineaCombo.value=document.formPrediccion.lineaCombo.options[document.formPrediccion.lineaCombo.selectedIndex].value">
                    	<OPTION VALUE="">Seleccione un valor</OPTION> 
                      {% for linea in listaLineas %}
                       	<OPTION VALUE="{{ linea.linea }}">{{ linea.linea }}</OPTION>
                      {% endfor %}
                    </SELECT></td></tr>
                    <tr><td> <label for="id_orden"> Parada: </label> {{ form.orden }}     
                    <SELECT NAME="paradaCombo" SIZE=1 onchange="document.formPrediccion.id_orden.value = document.formPrediccion.paradaCombo.options[document.formPrediccion.paradaCombo.selectedIndex].value;document.formPrediccion.paradaCombo.value=document.formPrediccion.paradaCombo.options[document.formPrediccion.paradaCombo.selectedIndex].value">
                    	<OPTION VALUE="">Seleccione un valor</OPTION>
                      {% for parada in listaParadas %}
                       	<OPTION VALUE="{{ parada.orden }}">{{ parada.orden }}</OPTION>
                      {% endfor %}
                    </SELECT></td>
                <td><BUTTON type="submit" name="accion" value="predecir"> Predecir</BUTTON> </td></tr>
            </table>
        </form>
    </td>
  </tr>
    <tr><td align=center >
    <div id="tableContainer" class="tableContainer">
      {% if predicciones %}
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable">
      	<thead class="fixedHeader">
			<tr>
				<th><a href="#">Colectivo</a></th>
				<th><a href="#">Tiempo estimado [s]</a></th>
			</tr>
		</thead>
		<tbody class="scrollContent">
      {% for unidad in predicciones %}
        <tr>
        	<td>{{ unidad.colectivo }}</td>
        	<td>{{ unidad.tiempo }}</td>
       	</tr>
      {% endfor %}
      </tbody></table>
      <a>Tiempos Calculados a {{ timeStamp }}</a>
    {% else %}
      <a>No Hay predicciones disponibles</a>
    {% endif %}
</div></td></tr>
</table>
{% endblock %}

{% block marcas %}   
    {% if linea %}
    	{% if listaParadas %}
    		{% for parada in listaParadas %}
    			markerPosition = new google.maps.LatLng({{ parada.latitud }},{{ parada.longitud}});
       			marker = new google.maps.Marker({
        			map:map,
        			draggable:true,
        			position: markerPosition,
        			icon: markerImage
    			});
        
    			google.maps.event.addListener(marker, 'click', toggleBounce); //Click sobre el marker
	
    		{% endfor %}		
    	{% endif %} 
    {% endif %}
    
    /* La lista de posiciones de los colectivos - corregir
    {% if listaUnidades %}
    var point2 = new GLatLng(0,0);
    {% for unidad in listaUnidades %}
	point2 = new GLatLng({{ unidad.latitud }},{{ unidad.longitud}} );
    marcador2 = new GMarker(point2, markerOptions2);
	
    google.maps.Event.addListener(marcador2, 'click', function(overly, latlng, overlaylatlng) { //funcion que muestra la ventana de informacion
        map.openInfoWindowHtml(new GLatLng({{ unidad.latitud }},{{ unidad.longitud}} ), "<div style='font-size: 8pt; font-family: verdana'><p>Linea : {{ parada.linea}} </p><p>Orden: {{ parada.orden }} </p><p>Latitud: {{ unidad.latitud }} </p><p>Longitud:{{ unidad.longitud}} </p></div>"); 
    });
    map.addOverlay(marcador2);   
    
    {% endfor %}
    {% endif %} Para cuando se pase las posiciones de los colectivos
    */
{% endblock %}

{% block extraScripts %}<script>setTimeout('document.location.reload()',60000); </script>{% endblock %}
