{% extends "baseMenuMapa.html" %}

{% block extras %}
 <table style="text-align: left; height: 100%; width: 90%;">
  <tr><td style="font-style: italic; font-weight: bold; color: black;font-family: Lohit Punjabi;height: 10%; width: 30%;">
  <form name = "formParada" action="" method="post" onSubmit = "return confirmacion(this, accion)">{% csrf_token %}
      Coordenadas Actuales: 
    <table>
      <tr>
        <td> <label for="id_linea"> Linea: </label> {{ form.linea }} 
        <SELECT NAME="lineaCombo" SIZE=1 onchange="document.formParada.id_linea.value = document.formParada.lineaCombo.options[document.formParada.lineaCombo.selectedIndex].value;document.formParada.lineaCombo.value=document.formParada.lineaCombo.options[document.formParada.lineaCombo.selectedIndex].value">
	         <OPTION VALUE="">Seleccione un valor</OPTION>
     		 {% for linea in listaLineas %}
       		 <OPTION VALUE="{{ linea.linea }}">{{ linea.linea }}</OPTION>
      		{% endfor %}
    	</SELECT></td>
		<td> <BUTTON type="submit" name="accion" value="viewLinea"> Mostrar Linea </BUTTON> </td>
      </tr>
      <tr>
	  	<td><label for="id_orden"> Orden: </label> {{ form.orden }}
    		<SELECT NAME="paradaCombo" SIZE=1 onchange="document.formParada.id_orden.value = document.formParada.paradaCombo.options[document.formParada.paradaCombo.selectedIndex].value;document.formParada.paradaCombo.value=document.formParada.paradaCombo.options[document.formParada.paradaCombo.selectedIndex].value">
   				<OPTION VALUE="">Seleccione un valor</OPTION>
      			{% for parada in listaParadas %}
       			<OPTION VALUE="{{ parada.orden }}">{{ parada.orden }}</OPTION>
      			{% endfor %}
   		</SELECT></td>
   		<!--<td> <BUTTON type="submit" name="accion" value="viewParada"> Buscar Parada </BUTTON> </td>-->
    </tr>
    <tr><td><label for="id_paradaActiva">Parada Activa: </label>{{ form.paradaActiva }}</td></tr>
    <tr><td><label for="id_calle1">Calle: </label> {{ form.calle1 }}</td></tr>
    <tr><td><label for="id_calle2">Interseccion: </label> {{ form.calle2 }}</td></tr>
    </table>
    <a> Nuevas Coordenadas: </a><div id="coor"></div>
    <BUTTON type="submit" name="accion" value="addParada"> Agregar Parada </BUTTON>
    <BUTTON type="submit" name="accion" value="editParada"> Modificar Parada </BUTTON>
    <BUTTON type="submit" name="accion" value="delParada" > Eliminar Parada </BUTTON>
    </form>
  </td></tr>
  <tr><td style="font-style: italic; font-weight: bold; color: black;font-family: Lohit Punjabi;"> Recorrido: </td></tr>
  <tr><td align=center >
    {% if linea %}
    {% if listaParadas %}
    <div id="tableContainer" class="tableContainer">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable">
    <thead class="fixedHeader">
		<tr>
			<th><a href="#">Orden</a></th>
			<th><a href="#">Latitud</a></th>
			<th><a href="#">Longitud</a></th>
		</tr>
	</thead>
	<tbody class="scrollContent">
      {% for parada in listaParadas %}
        <tr><td>{{ parada.orden }}</td><td>{{ parada.latitud }}</td><td>{{ parada.longitud }}</td></tr>
      {% endfor %}
     </tbody></table></div>
    {% else %}
      <a>No paradas disponibles</a>
    {% endif %}
    {% endif %}
  </td></tr>
</table>
{% endblock %}

{% block funcDblClick %}
    function confirmacion(form){
        if (form.accion[0].value != "viewLinea" && form.accion[0].value !="viewParada"){
            var answer = confirm("Confirma el cambio que desea realizar")
            if (answer)
            {
                alert("aca confirma");
                return (true);
            }
            else
            {
                alert("aca no confirma");
                return (false);
            }
        }
    }
    
function mostrarCoordenadas(location, map) { //funcion javascript
    var longitud = location.lng();
    var latitud = location.lat();

    //Codigo DOM
    
    //borra los datos anterior, para mostrar solo las coordenadas actuales
    var parrafoAEliminar = document.getElementById("coor").getElementsByTagName("INPUT")[0];
    if (parrafoAEliminar)	document.getElementById("coor").removeChild(parrafoAEliminar);    //solo elimina si existe anterior
    parrafoAEliminar = document.getElementById("coor").getElementsByTagName("INPUT")[0];
    if (parrafoAEliminar)	document.getElementById("coor").removeChild(parrafoAEliminar);    //solo elimina si existe anterior
    parrafoAEliminar = document.getElementById("coor").getElementsByTagName("text")[0];
    if (parrafoAEliminar)	document.getElementById("coor").removeChild(parrafoAEliminar);    //solo elimina si existe anterior
    parrafoAEliminar = document.getElementById("coor").getElementsByTagName("text")[0];
    if (parrafoAEliminar)	document.getElementById("coor").removeChild(parrafoAEliminar);    //solo elimina si existe anterior

    //agrega nuevos datos
    var elem_inputlat = document.createElement("INPUT");
    var elem_inputlon = document.createElement("INPUT");
    var elem_text1 = document.createElement("text");
    var elem_text2 = document.createElement("text");
    elem_inputlat.setAttribute("type","text");
    elem_inputlat.setAttribute("name","newlatitud");
    elem_inputlat.setAttribute("value",latitud);
    elem_inputlat.setAttribute("size","20");
    elem_inputlon.setAttribute("type","text");
    elem_inputlon.setAttribute("name","newlongitud");
    elem_inputlon.setAttribute("value",longitud);
    elem_inputlon.setAttribute("size","20");
    elem_text1.appendChild(document.createTextNode("Latitud: "));
    elem_text2.appendChild(document.createTextNode("Longitud: "));

    
    document.getElementById("coor").appendChild(elem_text1);
    document.getElementById("coor").appendChild(elem_inputlat);
    document.getElementById("coor").appendChild(elem_text2);    
    document.getElementById("coor").appendChild(elem_inputlon);  
    }
{% endblock %}
   
{% block defFuncDblClick %}    
            marker = new google.maps.Marker({
                map:map,
                draggable:true,
                position: event.latLng,
                icon: markerImage
            });
            mostrarCoordenadas(event.latLng,map)
{% endblock %}

{% block marcas %}
    {% if linea %}
    {% if listaParadas %}
    {% for parada in listaParadas %}
    markerPosition = new google.maps.LatLng({{ parada.latitud }},{{ parada.longitud}});
        marker = new google.maps.Marker({
        map:map,
        draggable:true,
        position: markerPosition,
        icon: markerImage
    });
        
    google.maps.event.addListener(marker, 'click', function(event) {
    	var message = "La posicion es Latitud "+ event.latLng.lat() + "y longitud " + event.latLng.lng();
 		var infowindow = new google.maps.InfoWindow(
      		{ content: message,
       			size: new google.maps.Size(50,50)
      		});
   		infowindow.open(map,marker);
  	}); //Click sobre el marker
	
	google.maps.event.addListener(marker, 'dragend', function(event) {
        mostrarCoordenadas(event.latLng, map);
    });
    {% endfor %}
    {% endif %}   
{% endif %}
{% endblock %}
