{% extends "baseMenuMapa.html" %}

{% block extras %}

<div class="container">
	<form name = "formParada" class="formee" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	
	<fieldset>
		<legend>{% if mensaje %}{{ mensaje }}{% endif %}</legend>
		
		<div class="grid-7-12"> 
	    {{ form.action }}
	    <label for="id_linea">Nombre:</label>{{ form.linea }}
	    <label for="id_frecuencia">Frecuencia:</label>{{ form.frecuencia }}
	    <label for="id_empresa">Empresa:</label>{{ form.empresa }}
	    	<SELECT NAME="empresaCombo" SIZE=1 onchange="document.formParada.id_empresa.value = document.formParada.empresaCombo.options[document.formParada.empresaCombo.selectedIndex].value;document.formParada.empresaCombo.value=document.formParada.empresaCombo.options[document.formParada.empresaCombo.selectedIndex].value">
       			<OPTION VALUE="">Seleccione una empresa</OPTION> 
       			{% for company in companyList %}
           		<OPTION {% if temporaryRoute and temporaryRoute.empresa == company %} SELECTED {% endif %}VALUE="{{ company.nombre }}">{{ company.nombre }}</OPTION>
       			{% endfor %}
  			</SELECT>
  			  {% if error %} <font color="red" size=2>Error: {{ error }}</font>{% endif %}
  			  </div>
  			  <div class="grid-12-12">
		<div id="mapas" style="width:100%; height:350px;">Aca va el mapa</div>
		</div>  
		  <!-- 
		    {% if route %}
		    	{% if stopList %}
		    <div id="tableContainer" class="tableContainer"><table class="scrollTable">
			    <thead class="fixedHeader">
					
						<th><a href="#">Orden</a></th>
						<th><a href="#">Latitud</a></th>
						<th><a href="#">Longitud</a></th>
					
				</thead>
				<tbody class="scrollContent">
			      {% for stop in stopList %}
			        {{ stop.orden }}{{ stop.latitud }}{{ stop.longitud }}
			      {% endfor %}
		    </tbody> </div>
		    {% else %}
		      <a>No paradas disponibles</a>
		    	{% endif %}
		    {% endif %}
		  -->
		  <div class="grid-7-12">
		  	<label title="{{form.masivo.help_text}}" for="id_masivo">Carga masiva de Paradas:</label>
		  	<div class="grid-8-12">	
  				{{ form.masivo}}
  			</div>
  			<div class="grid-4-12">
   				<BUTTON class="formee-button" type="submit" name="action" value="addMasiveStop"> Cargar paradas </BUTTON>
   			</div>
   		</div>
   		<div class="grid-7-12">
   		<!-- <font size="1"><p>Las paradas deben estan en orden y una por linea con el formato:</p><p>Latitud; Longitud;Calle;Interseccion</p></font> -->
   		<label for="id_orden"> Orden: </label> {{ form.orden }}<br />
    		<SELECT NAME="paradaCombo" SIZE=1 onchange="document.formParada.id_orden.value = document.formParada.paradaCombo.options[document.formParada.paradaCombo.selectedIndex].value;document.formParada.paradaCombo.value=document.formParada.paradaCombo.options[document.formParada.paradaCombo.selectedIndex].value">
   				<OPTION VALUE="">Seleccione un valor</OPTION>
      			{% for stop in stopList %}
       			<OPTION VALUE="{{ stop.orden }}">{{ stop.orden }}</OPTION>
      			{% endfor %}
   			</SELECT>
    <br />
    <BUTTON class="formee-button" type="submit" name="action" value="addStop"> Agregar Parada </BUTTON>
    <BUTTON class="formee-button" type="submit" name="action" value="editStop"> Modificar Parada </BUTTON>
    <BUTTON class="formee-button" type="submit" name="action" value="delStop" > Eliminar Parada </BUTTON>
    <br />
    <input class="formee-button" type="button" name="back" id="back" value="Descartar" onClick="javaScript:history.back();">
    <BUTTON class="formee-button" type="submit" name="action" value="save" > Guardar </BUTTON>
    </div>
    </fieldset>
</form>
</div>


{% endblock %}

{% block marcas %}
	document.getElementById("id_action").value = document.location.search.substr(1);
    {% if stopList %}
    {% for stop in stopList %}
    markerPosition = new google.maps.LatLng({{ stop.latitud }},{{ stop.longitud}});
    marker = new google.maps.Marker({
        map:map,
        draggable:false,
        position: markerPosition,
        icon: markerImage
    });
        
    {% endfor %}
    
    var flightPlanCoordinates = [
      {% for stop in stopList %}
	    new google.maps.LatLng({{ stop.latitud }},{{ stop.longitud}}),
      {% endfor %}
	];
	var flightPath = new google.maps.Polyline({
	    path: flightPlanCoordinates,
	    strokeColor: "#FF0000",
	    strokeOpacity: 1.0,
	    strokeWeight: 2
	});

 	flightPath.setMap(map);
    {% endif %}   
{% endblock %}
