{% extends "datatable.html" %}

  	{% block datos %}
        {% if userList %}        
			<thead>
				<tr>
					<th><a href="#">Nombre</a></th>
					<th><a href="#">Email</a></th>
					<th><a href="#">Categoria</a></th>
					<th><a href="#">Empresa</a></th>
				</tr>
			</thead>
			<tbody>
			{% for user in userList %}
			<tr>
				<td>{{ user.nombre }}</td>
				<td>{{ user.mail}}</td>
				<td>{{ user.categoria }}</td>
				<td>{{ user.empresa }}</td>
			</tr>
			{% endfor %}
			</tbody>
		
			
        {% else %}
        <tr><td>No hay usuarios disponibles</td></tr>
        {% endif %}
	{% endblock %}	