{% extends "base.html" %}

{% block extrabody %} onload="initialize()" style="color: rgb(0, 0, 0); background-color: rgb(0, 121, 0); background-image: url(Archivos/fondo.jpg);" alink="#000099" link="#000099" vlink="#990099"
{% endblock %}

{% block menu %}
        <table style="height: 100%; width: 100%;" border="1" cellpadding="2" cellspacing="2">
            <tbody>
                <tr style="font-style: italic; font-weight: bold; color: black;
                    font-family: Lohit Punjabi;" align="center">
                    <td style="height: 100%; width: 100%;">
                        <table style="text-align: left; width: 100%; height: 138px;"
                               border="1" cellpadding="2" cellspacing="2">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: top; width: 137px; height: 81px;">Icono del programa </td>
                                    <td style="vertical-align: top; width: 817px; height: 81px;">Tibus </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <table style="height: 63px; width: 959px; text-align: left;"
                               border="1" cellpadding="2" cellspacing="2">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: middle; width: 20%; text-align: center;">
                                        <A HREF="index"><img style="width: 148px; height: 40px;" alt="¿Qué es TiBus?"
                                             src="Archivos/Que%20es.jpg" align="middle"></a></td>
                                    <td style="vertical-align: middle; width: 20%; text-align: center;">
                                        <A HREF="admin"><img style="width: 148px; height: 40px;" alt="Administracion de Lineas y Recorridos"
                                             src="Archivos/lineas%20y%20recorridos.jpg" align="middle"></a></td>
                                    <td style="vertical-align: middle; width: 20%; text-align: center;">
                                        <A HREF="prediccion"><img style="width: 148px; height: 40px;" alt="Predicción"
                                             src="Archivos/prediccion.jpg" align="middle"></a></td>
                                    <td style="vertical-align: middle; width: 20%; text-align: center;">
                                        <A HREF="modelo"><img style="width: 148px; height: 40px;" alt="Modelo"
                                             src="Archivos/modelo2.jpg" align="middle"></a></td>
                                    <td style="vertical-align: middle; width: 20%; text-align: center;">
                                        </img><A HREF="ayuda"><img style="width: 148px; height: 40px;" alt="Ayuda"
                                             src="Archivos/ayuda.jpg" align="middle"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
	    </tbody>
	</table>
{% endblock %}


