{% extends "datatable.html" %}

		{% block datos %}
			{% if companyList %}
					<thead>
        				<tr>
        					<th><a href="#">Nombre</a></th>
        					<th><a href="#">Email</a></th>
      					</tr></thead>
     					<tbody>
       					{% for company in companyList %}<tr>
       						<td>{{ company.nombre }}</td>
       						<td>{{ company.mail}}</td>
       					</tr>
       				{% endfor %}
       			</tbody>
   			{% else %}
   				<a>No empresas disponibles</a>
   			{% endif %}
		{% endblock %}