{% extends "baseMenu.html" %}

{% block content %}

  
  
  <div class="container">
  	{% if error %} <div class="formee-msg-error"> Error: {{ error }}</div>{% endif %}
  
  
  	<form name="formLinea" class="formee" action="" method="post" enctype="multipart/form-data">
  	<fieldset>
  		<legend>Lineas</legend>
		{% csrf_token %}
		<div class="grid-12-12"> 
		<label  for="id_empresa"> Empresa: </label> 
		{{form.empresa }} 
		<SELECT class="formee-small" NAME="empresaCombo" SIZE=1
			onchange="document.formLinea.id_empresa.value = document.formLinea.empresaCombo.options[document.formLinea.empresaCombo.selectedIndex].value;document.formLinea.empresaCombo.value=document.formLinea.empresaCombo.options[document.formLinea.empresaCombo.selectedIndex].value">
			<OPTION VALUE="all">Todas las empresas</OPTION> 
			{% for company in companyList %}
			<OPTION VALUE="{{ company.nombre }}">{{ company.nombre }}</OPTION>
			{% endfor %}
		</SELECT>
		
		<BUTTON class="formee-button" type="submit" name="action" value="viewCompany">
			Filtrar por Empresa</BUTTON>
			
		<br /> <label for="id_linea"> Linea: </label> {{ form.linea }} <br />
		<SELECT class="formee-small" NAME="lineaCombo" SIZE=1
			onchange="document.formLinea.id_linea.value = document.formLinea.lineaCombo.options[document.formLinea.lineaCombo.selectedIndex].value;document.formLinea.lineaCombo.value=document.formLinea.lineaCombo.options[document.formLinea.lineaCombo.selectedIndex].value">
			<OPTION VALUE="">Seleccione un valor</OPTION> 
			{% for route in routeList %}
			<OPTION VALUE="{{ route.linea }}">{{ route.linea }}</OPTION> 
			{%endfor %}
		</SELECT>
		</div>
		
		<div class="grid-12-12">
			<BUTTON class="formee-button" type="submit" name="action" value="addRoute">
				Agregar Linea</BUTTON>
			
			<BUTTON class="formee-button" type="submit" name="action" value="editRoute">
				Modificar Linea</BUTTON>
			
			<BUTTON class="formee-button" type="submit" name="action" value="delRoute">
				Eliminar Linea</BUTTON>
		</div>
		</fieldset>
	</form> {% endblock %}
</div>
