{% extends "baseMenuMapa.html" %}
{% load crispy_forms_tags %}

{% block extras %}
<div class="container">
	<table style="text-align: left; height: 100%; border: 3px solid rgb(0,0,0); padding:10px; box-shadow: 0px 0px 10px 10px rgba(70,70,70, 0.4) inset;background-color:rgb(255,255,255);">
	{% if mensaje %}<tr><td>{{ mensaje }}</td></tr>{% endif %}
  	{% if error %} <tr><td style="text-align: center;"><font color="red" size=2>Error: {{ error }}</font></td></tr>{% endif %}
  	<tr><td><form class="uniForm" method="post">{% crispy form %}</form></td></tr>
</table>
<div id="mapas" style="width:100%; height:350px;">Aca va el mapa</div>
</div>


{% endblock %}

{% block marcas %}
	document.getElementById("id_action").value = document.location.search.substr(1);
    {% if stopList %}
    {% for stop in stopList %}
    markerPosition = new google.maps.LatLng({{ stop.latitud }},{{ stop.longitud}});
    marker = new google.maps.Marker({
        map:map,
        draggable:false,
        position: markerPosition,
        icon: markerImage
    });
        
    {% endfor %}
    
    var flightPlanCoordinates = [
      {% for stop in stopList %}
	    new google.maps.LatLng({{ stop.latitud }},{{ stop.longitud}}),
      {% endfor %}
	];
	var flightPath = new google.maps.Polyline({
	    path: flightPlanCoordinates,
	    strokeColor: "#FF0000",
	    strokeOpacity: 1.0,
	    strokeWeight: 2
	});

 	flightPath.setMap(map);
    {% endif %}   
{% endblock %}
