{% extends "basesp.html" %}

{% block content %}
<div class="sombraTabla" align="center"><table style="height: 100%; width: 90%;">
    <tbody>
        <tr style="color: black;" align="center"><td style="height: 100%; width: 100%;">
            <p>Tibus (Time to Bus) es un sistema que permite, a partir de las coordenadas Gps de las unidades móviles, estimar los tiempos de arribo a paradas o puntos determinados con una arquitectura e interfaz simple, pero amigable, sin dejar de lado resultados de buena calidad. </p>
            <p>El sistema se enmarca dentro del concepto de Sistemas de Información Avanzados para Pasajeros (Advanced Traveler Information Systems), que tienen como objetivo, entre otros, mejorar la seguridad, movilidad y comodidad de los usuarios de transporte.</p>
			<p>Tibus es un sistema desarrollado como proyecto final en la carrera de Ingeniería en Sistemas de Información para la Universidad Tecnológica Nacional – Facultad Regional Santa Fe por los alumnos Gonzalez Daniel y Locatelli Diego.</p> 
			<p>Fue seleccionado como proyecto ya que decidimos realizar un proyecto útil a la sociedad y a la vez que nos presente un desafío para los conocimientos y habilidades adquiridas durante el cursado de la carrera.</p>
			<p>Hemos tenido cuidado de tomar en cuenta varias alternativas a la hora de tomar las decisiones y de llevar el proyecto por un camino factible, o sea que la relación costo-beneficio sea buena, pero sin brindar por ello un producto de baja calidad, sino que al contrario se intenta mantener una software de calidad que brinde un excelente servicio.</p>
			<p>Asimismo se planea que el sistema resultante se libere con una licencia de código abierto. De esta forma cualquier organización pública o privada que disponga de los datos necesarios pueda implementar el sistema y adaptarlo según sus necesidades.</p>
</td></tr></tbody></table></div>
{% endblock %}