{% extends "datatable.html" %}

	{% block datos%}
    	{% if busList %}
			<thead>
				<tr>
					<th><a href="#">Identificador</a></th>
					<th><a href="#">Linea</a></th>
					<th><a href="#">Unidad</a></th>
					<th><a href="#">Apta Movilidad Reducida</a></th>
				</tr>
			</thead>
			<tbody>
      		{% for bus in busList %}
      			<tr>
      				<td>{{ bus.idunidad }}</td>
      				<td>{{ bus.linea }}</td>
      				<td>{{ bus.id_unidad_linea }}</td>
      				<td>{{ bus.apto_movilidad_reducida }}</td>
     				</tr>
			{% endfor %}
      		</tbody>
		{% else %}
		<a>No unidades disponibles</a>
    	{% endif %}
   	{% endblock %}